html{
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    color:rgb(60, 60, 175);
}
.page{
    flex: 1;
    background: linear-gradient(to top, #a18cd1 , #fbc2eb );
}
header{
    display: flex;
    justify-content: space-between;
}
header>p{
    font-weight: 600;
    margin-right: 10px;
    
}

.card{
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
   margin-right: 15%;
   margin-top: 50px;
    padding: 50px 35px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
}
.inputArea{
    display: flex;
    width: 60%;
    height: 40px;
    justify-content: center;
}

input[type="text"]{
    width: 60%;
    border-radius: 8px;
    border: 1px;
}
.inputArea>button{
    width: 35%;
    border-radius: 8px;
    border: 1px;
}

label{
    padding: 10px 0;
  height: 200px; /* Adjust the height as needed */
  width: 60%;
  border-radius: 6px;
  margin: 10px 0 20px 0;
  border: 1px dashed #000000;
  color:rgb(60, 60, 175);
  text-align: center; /* Center the content vertically */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
label:hover{
    color:#de0611;
    border:1px dashed #de0611;
}
#selectedFileDisplay {
    margin-top: 10px;
    margin-bottom: 10px;
}


.progressIndicator{
    display: none;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1080px) {
    .inputArea{
        flex-direction: column;
        height: auto;
    }
    input[type="text"]{
        width: 100%;
        border-radius: 8px;
        height: 40px;
        border: 1px;
    }
    .inputArea>button{
        width: 100%;
        border-radius: 8px;
        margin-top: 2px;
        height: 40px;
        border: 1px;
    }
  }
  @media screen and (max-width: 1080px) {
    .card{
        max-width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .inputArea{
        width: 80%;
    }
    label{
        width: 80%;
    }
  }